Source: polld
Section: admin
Priority: optional
Maintainer: Michal Čihař <michal@cihar.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: polld
Architecture: any
Depends: ${shlibs:Depends}, lsb-base
Description: Polling demon
 This demon periodically opens devices (files) listed in configuration. Main
 reason is to force rescanning of partitions on usb devices while using udev.
 .
  Homepage: http://cihar.com/software/polld/
